@fontColor: rgb(43, 193, 238);
@bg-main: lightblue;
@bg-color: lightgrey;

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
